
.animated-gradient {
  background: linear-gradient(
    45deg,
    #0056b3,  /* Azul bandera Cuba */
    #cf142b,  /* Rojo bandera Cuba */
    #ffffff,  /* Blanco bandera Cuba */
    #0056b3
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 3s ease infinite;
}

@keyframes gradient-shift {
  0%, 100% { background-position: 0% 50%; }

  
  50% { background-position: 100% 50%; }
}



